altgraph==0.17.5
asgiref==3.12.1
bottle==0.13.4
cffi==2.1.1
clr_loader==0.3.1
Django==6.0.7
et_xmlfile==2.0.0
openpyxl==3.1.5
packaging==26.3
pefile==2024.8.26
pillow==12.3.0
proxy_tools==0.1.0
pycparser==3.0
pyinstaller==6.22.2
pyinstaller-hooks-contrib==2026.7
python-decouple==3.8
pythonnet==3.1.0
pywebview==6.2.1
pywin32-ctypes==0.2.3
setuptools==84.0.0
sqlparse==0.5.5
tzdata==2026.3
whitenoise==6.12.0
